@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #131313;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

ul {
  list-style-type: none;
}

ul > li {
  display: inline-block;
}

.nav {
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li {
  padding-right: 18px;
}

.nav ul li:last-child {
  padding-right: 0;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav a:hover {
  text-decoration: underline;
}

input[type="image"].icon {
  width: 32px;
  height: 32px;
  padding: 3px;
  opacity: 0.5;
  margin: 0 5px 0 7px;
  border-radius: 15px;
}

input[type="image"].icon:hover,
input[type="image"].icon:active {
  background-color: #e3e3e3;
}

input[type="image"].photo {
  width: 34px;
  height: 34px;
  border-radius: 18px;
  border: 3px solid transparent;
}

input[type="image"].photo:hover,
input[type="image"].photo:active {
  border: 3px solid #e3e3e3;
}

input:focus,
button:focus {
  outline: 0;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-top: 115px;
  margin-bottom: 30px;
  width: 330px;
}

.search-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
  transform: translate(180%, -0%);
  border: none;
  background: transparent;
  background-image: url("./src/magnifying-glass-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-mic {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
  transform: translate(-170%, 0%);
  border: none;
  background: transparent;
  background-image: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-mic:hover {
  cursor: pointer;
}

input[type="text"] {
  width: 500px;
  height: 50px;
  border: 1px solid #e3e3e3;
  border-radius: 25px;
  padding: 0px 40px;
}

input:hover {
  box-shadow: 0 1px 4px 0 #dddddd;
}

.btn button {
  background-color: #f8f9fa;
  padding: 12px 20px;
  color: #131313;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 0 7px;
  cursor: pointer;
}

.btn button:hover {
  border: 1px solid #ced1d4;
  box-shadow: 0 1px 2px #e3e3e3;
}

.btn button.btn-search:active {
  border: 1px solid #4285f4;
}

.btn button.btn-lucky:active {
  border: 1px solid #70757a;
}

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: #70757a;
  padding: 23px 25px;
}

.footer a {
  text-decoration: none;
  color: #70757a;
}

.footer a:hover {
  text-decoration: underline;
}

.footer ul li {
  padding-right: 20px;
}

.footer ul li:last-child {
  padding-right: 0;
}

@media (max-width: 950px) {
  /* .search-container {
    width: 600px;
  } */
}

@media (max-width: 650px) {
  body {
    font-size: 14px;
  }

  .main {
    margin-top: 60px;
  }

  .logo {
    width: 250px;
  }

  /* .search-container {
    width: 100%;
  } */

  /* input[type="text"],
  .search-icon,
  .btn-mic {
    height: 40px;
  } */

  .footer {
    flex-direction: column;
  }

  .footer ul {
    margin: 15px 0;
  }

  .footer ul li {
    padding: 0 15px;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 13px;
  }

  .main {
    margin-top: 50px;
  }

  .logo {
    width: 180px;
  }

  .btn button {
    padding: 12px 10px;
  }

  .footer {
    font-size: 11px;
  }

  .footer ul {
    margin: 10px 0;
  }
}
